@page "{id:int?}"
@model MDeskRP.Pages.Customer.CustomerQuoteModel
@{
    ViewData["Title"] = "CustomerQuote";
}

<h1>Customer Quote</h1>
<div>
    @*<h4>Customer</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.DeskQuotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.DeskQuotes)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Desk Quote ID</th>
                    <th>Customer Name</th>
                    <th>Desk Specifications</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Customer.DeskQuotes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeskQuoteID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeskSpecs)
                        </td>
                        <td>
                            <a asp-page="./CustomerQuoteEdit" asp-route-id="@item.DeskQuoteID">Edit</a> |
                            <a asp-page="./CustomerQuoteDelete" asp-route-id="@item.DeskQuoteID">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
    <div>
        <a asp-page="./CustomerQuoteCreate" asp-route-id="@Model.Customer.CustomerID" class="btn btn-mine btn-main m-1" role="button">Create New Quote</a>
    </div><br />
    <div>
        <a asp-page="./Index" asp-route-id="@Model.Customer.CustomerID" class="btn btn-mine btn-main m-1" role="button">Customer List</a>
    </div>
</div>
